.active-checkbox {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.in-flight-true {
  color: green;
}

.in-flight-false {
  color: grey;
}

.active-campaign {
  color: green;
}

.inactive-campaign {
  color: grey;
}
